 <link rel="stylesheet" href="{{ asset('css/theme.css') }}">

<body>
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <!-- Card body -->
          <div class="card-body p-6">
 <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="email" class="form-label">Username or email</label>
        <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
    </div>  

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="**************" required="">
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

    <div class="d-md-flex justify-content-between mt-4">
        <div class="mb-2 mb-md-0">
            <a href="{{ path('app_register') }}" class="fs-5">Create An Account</a>
        </div>
        <div>
            <a href="#" class="text-inherit fs-5">Forgot your password?</a>
        </div>
    </div>
</form>

