{% extends 'base.html.twig' %}


{% block body %}
<style>
 #db-wrapper {
        box-sizing: border-box;
        overflow-x: hidden;
  display: flex;
      }
    
</style>
<body> 
  <div id="db-wrapper">
    <!-- navbar vertical -->
    <!-- page content -->
    <div id="page-content">

      <!-- Container fluid -->
      <div class="container-fluid px-6 py-4">
        
        </div>
        <div class="row align-items-center">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="pt-20 rounded-top" style="
                {#  url(../assets/images/background/profile-cover.jpg)  #} 
                background-size: cover;">
                <img src="{{asset('images/background/profile-cover2.jpg')}}" >
            </div> 
            <div class="bg-white rounded-bottom smooth-shadow-sm ">
              <div class="d-flex align-items-center justify-content-between
                  pt-4 pb-6 px-4">
                <div class="d-flex align-items-center">
                  <!-- avatar -->
                  <div class="avatar-xxl avatar-indicators avatar-online me-2
                      position-relative d-flex justify-content-end
                      align-items-end mt-n10">
                    <img src={{app.user.photo}} class="avatar-xxl
                        rounded-circle border border-4 border-white-color-40" alt="">
                    <a href="#!" class="position-absolute top-0 right-0 me-2" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified">
                      <img src="{{ asset('images/svg/checked-mark.svg') }}"alt="" height="30" width="30">
                    </a>
                  </div>
                  <!-- text -->
                  <div class="lh-1">
                    <h2 class="mb-0">{{app.user.name}}
                      <a href="#!" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Beginner">

                      </a>
                    </h2>
                    <p class="mb-0 d-block">@imjituchauhan</p>
                  </div>
                </div>
                <div>
                  <a href="#" class="btn btn-outline-primary
                      d-none d-md-block">Edit Profile</a>
                </div>
              </div>
              <!-- nav -->
              <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
               <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_default') }}">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ path('app_freinds') }}">
                      Followers
                    </a>
                </li>
                <li class="nav-item">
                
                  <a class="nav-link" href="{{ path('app_alerts') }}">Activity</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link " href="{{ path('app_requests') }}">Friend requests</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br>

<!-- Basic -->
     <div class="d-flex flex-wrap">
          {% for friend in friends %}
            {% if friend.getUserSource().getName() != app.user.name %}
                      <div class="card m-2" style="width: 18rem;">
              <img src="{{ friend.getUserSource().getPhoto() }}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{ friend.getUserSource().getName() }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path('delete_invitation', {'id': friend.id}) }}" class="btn btn-primary">Unfriend</a>
              </div>
            </div>    
                        {% endif %}
          
          {% endfor %}
        </div>
  </body>
      {% endblock %}
